body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#e6c990, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 30px;
    color: #333333;
}